# --- Shapefile components (never commit raw GIS data) ---
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.fbn
*.fbx
*.ain
*.aih
*.atx
*.ixs
*.mxs
*.qix
*.shp.xml   # shapefile metadata sidecar

# --- Other common geospatial formats ---
*.gpkg      # GeoPackage
*.geojson
*.kml
*.kmz
*.gml
*.tif
*.tiff      # GeoTIFF rasters
*.asc       # ASCII grid rasters
*.nc        # NetCDF
*.gdb/      # File geodatabase (it's actually a folder)
*.gdb.zip

# --- Generic large/data files ---
*.csv
*.zip